<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RTWoWDataClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <RTWoWDataClient.Properties.Settings>
            <setting name="SavedVariablesPath" serializeAs="String">
                <value>C:\Program Files (x86)\World of Warcraft\WTF\Account\125625162#1\SavedVariables\RTData.lua</value>
            </setting>
        </RTWoWDataClient.Properties.Settings>
    </applicationSettings>
</configuration>